table {
    width: 900px;
    border: 3px solid #a062ec;
}

th {
    background-color: #9b81ba;
    border: 1px solid #7a2adc; 
    font-family: 'Arial', sans-serif;
}

td { border: 1px solid #937fd6; 
    align-self: start;
}