<!-- cette page est la page du formulaire quand on accede a la route /add-->

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title> TODO APP - Add</title>
</head>
<body>
    <h1> Ajouter une tâche à la liste :</h1>
    
    <form method='POST' action="{{url_for('add')}}">
        <label for="content"> Contenu de la tache</label>
        <input type="text" name="content" id="content">
        <label for="status"> Statut ( fait : 1, pas encore : 0 )</label>
        <input type="text" name="status" id="status">
        </form>
</body>
</html>