<!-- cette page est la page du formulaire quand on accede a la route /add-->

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title> TODO APP - Add</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <h1 class="ajout"> Ajouter une tâche à la liste :</h1>

    <form method='POST' action="{{url_for('add')}}">
        <label for="contenu"> Contenu de la tache :</label>
        <input type="text" name="contenu" id="contenu">
        <label for="statut"> Statut </label>
        <input type="checkbox" name="statut" id="statut">
        <button type="submit"> Ajouter </button>
        </form>
</body>
</html>